@charset "utf-8";

/*************************
Base Styles
*************************/
html 
{
  line-height: 1.4;
  box-sizing: border-box;
  background-color: #5CDB95;
}

*, *:before, *:after 
{
  box-sizing: inherit;
}

body 
{
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding:0;
	background-color:#5CDB95;
}

.container 
{
	width: 90%;
	margin: auto;
}

header 
{
	height: 30%;
    font-size: 30px;
	text-align: left;
	color:#F6FCEE;
}

.content 
{
	padding: 20px;
	min-height: 500px;
	color: #05386B;
}

footer 
{
	padding: 10px 0;
	position: relative;
	clear: both; 
}

header, section, footer, aside, article, figure 
{
	display: block;
}

/*************************
  	Map Thumbnails
*************************/
div.polaroid 
{
	display: inline-block;
	width: 45%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 25px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0px;
}

div.polaroid:hover 
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.imgcontainer 
{
	text-align: center;
}
  
/*************************
  	Breadcrumbs Nav	
*************************/
ul.breadcrumb 
{
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li 
{
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before 
{
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a 
{
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover 
{
    color: #01447e;
    text-decoration: underline;
}

/*************************
  	Siteplan Page	
*************************/

.tile 
{
    position: relative;
    width: 1100px;
    height: 700px;
	overflow: hidden;
	margin: auto;
}

.photo 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}

/*************************
  	Navagation
*************************/

.topnav 
{
  overflow: hidden;
  background-color: #01447e;
  background: solid;
  border-radius: 25px;
 
}

.topnav a 
{
	float: left;
	display: block;
	color: #F6FCEE;
	text-align: center;
	width:16.66%;
	text-decoration: none;
	font-size: 17px;
	padding: 5px;
	
}

.topnav a:hover 
{
  background-color: #ddd;
  color: black;
  border-radius: 25px;
}

.topnav a:active { 
	background-color: yellow;
	color:black;
} 
.topnav .icon 
{
  display: none;
}

@media screen and (max-width: 1200px) 
{
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon 
	{
		float: right;
		display: block;
	}
}

@media screen and (max-width: 1200px) 
{
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon 
	{
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.topnav.responsive a 
	{
		float: none;
		display: block;
		text-align: left;
  	}

}